<!DOCTYPE html>
<html>
  <head>
    <title>Portv1</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <header id="main_navigation" class="clearfix">
      <%= link_to "7m27d", root_path, :class => "name" %>
      <nav>
        <%= link_to "Work", works_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "About", main_about_path %>
        <%= link_to "Contact", main_contact_path %>
        <a class="icon" onclick="openNav()">&#9776;</a>
      </nav>

      <nav class="sidenav" id="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <%= link_to "Work", works_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "About", main_about_path %>
        <%= link_to "Contact", main_contact_path %>
      </nav>

    </header>

    <!-- Content -->
    <div class="content">
      <%= yield %>
    </div>

    <!-- Copyright -->
    <footer>
      <p class="copyright">7M27D &copy; 2017</p>
    </footer>

  </body>
</html>
